@charset "UTF-8";

:root {
  --first-color: #233142;
  --second-color: #455d7a;
  --third-color: #f95959;
  --fourth-color: #e3e3e3;
}

body {
  font-family : Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
  margin : 0 2%;
}

body > p {
  margin : 10px 20px;
  color : #888;
}
body > p a {
  color : #666;
}